<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sky_take_out.dish
        (name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        values
            (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status},
             #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        SELECT d.id,
               d.name,
               d.category_id   AS categoryId,
               d.price,
               d.image,
               d.description,
               d.status,
               d.update_time   AS updateTime,
               c.name          AS category_name,
               f.id            AS flavor_id,
               f.name          AS flavor_name,
               f.value         AS flavor_value
        FROM sky_take_out.dish d
                 LEFT JOIN sky_take_out.category c ON d.category_id = c.id
                 LEFT JOIN sky_take_out.dish_flavor f ON f.dish_id = d.id
        <where>
            <if test="name != null and name != ''">
                AND d.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="categoryId != null">
                AND d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                AND d.status = #{status}
            </if>
        </where>
        ORDER BY d.create_time DESC
    </select>

    <!-- 批量删除时检查是否有起售中的菜品 -->
    <select id="countByIdsAndStatus" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM sky_take_out.dish
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND status = #{status}
    </select>

    <!-- 根据ID批量删除菜品 -->
    <delete id="deleteByIds">
        DELETE FROM sky_take_out.dish
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>